*
{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
header
{
    background-color: #343a40;
    color:white;
    display: flex;
    justify-content: center ;
    align-items:center ;
    padding: 40px 0px;
    font-size: 1em;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
footer
{
    background-color: #343a40;
    color:white;
    display: flex;
    justify-content: center ;
    align-items:center ;
    padding: 20px 0px;
    width: 100%;
    /*bottom: 0;
    position: fixed;
    */
}
.choices
{
    width: 80%;
    margin: auto;
}
.choices
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.choices #rps button
{
    border:1px solid #343a40;
    border-radius: 10px;
    margin: 5px 30px;
    box-sizing: border-box;
}
.choices #rps img
{
    height: 250px;
}
@media only screen and (max-width: 768px) 
{
    .choices #rps button
    {
    border:1px solid #343a40;
    border-radius: 10px;
    margin: 5px 10px;
    box-sizing: border-box;
    }
    .choices #rps img
    {
        height: 125px;
    }
}
.container
{
    width: 60%;
    margin: auto;
    border-radius: 10px;
    background-color: #343a40;
    display:flex;
    color:white;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
}
.container h3
{
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;

}
.container .scores
{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 20px 0px;
}
.container .scores div
{
    font-size:x-large;
}

@media only screen and (max-width: 768px) 
{
    .container
    {
        width: 70%;
    }
    .container .scores
    {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:space-around;
    }
    .container .scores div
    {
        padding: 5px 10px;
        font-size: larger;
    }
}