*
{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
header
{
    background-color: #343a40;
    color:white;
    text-align: center;
    padding: 40px 0px;
    font-size: 1em;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
footer
{
    background-color: #343a40;
    color:white;
    display: flex;
    justify-content: center ;
    align-items:center ;
    padding: 20px 0px;
    width: 100%;
    position:fixed;
    bottom: 0;
}
.choices
{
    width: 80%;
    margin: auto;
}
.choices
{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
.choices #rps button
{
    border:1px solid #343a40;
    border-radius: 10px;
    margin: 5px 30px;
    box-sizing: border-box;
    font-size: 1.5em;
}
.choices #rps button:hover
{
    background-color:darkgrey;
    color:white
}
.choices #rps img
{
    height: 250px;
}
@media only screen and (max-width: 768px) 
{
    .choices #rps button
    {
    border:1px solid #343a40;
    border-radius: 10px;
    margin: 5px 10px;
    box-sizing: border-box;
    }
    .choices #rps img
    {
        height: 125px;
    }
}
.container
{
    width: 60%;
    margin: auto;
    border-radius: 10px;
    background-color: #343a40;
    display:flex;
    color:white;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}
.container h3
{
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;

}
.container .scores
{
    display: flex;
    align-items: center;
    justify-content:space-around;
    padding: 20px 0px;
}
.container .scores div
{
    font-size:x-large;
}

@media only screen and (max-width: 768px) 
{
    .container
    {
        width: 70%;
    }
    .container .scores
    {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content:space-around;
    }
    .container .scores div
    {
        padding: 5px 10px;
        font-size: larger;
    }
}
.popup 
{
    visibility: hidden;
    color:white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -350px;
}
.popup .popupContent 
{
    visibility: hidden;
    width: 70%;
    height: 300px;
    background-color: #5a5b5d;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 8px 0;
    position: absolute;
    display: flex;
    justify-content:space-around;
    align-items: center;
    bottom: 125%;
    font-size: 1.5em;
}
.popup .show 
{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.popup .popupContent #result
{
    font-size: 2.5em;
}
.popup .popupContent img
{
    height: 200px;
}
#myPic
{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
