*
{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
header
{
    background-color: #343a40;
    color:white;
    display: flex;
    justify-content: center ;
    align-items:center ;
    padding: 40px 0px;
    font-size: 1em;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
footer
{
    background-color: #343a40;
    color:white;
    display: flex;
    justify-content: center ;
    align-items:center ;
    padding: 20px 0px;
    width: 100%;
    /*bottom: 0;
    position: fixed;
    */
}
.choices
{
    width: 80%;
    margin: auto;
}
.choices ul
{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    text-align: center;
}
.choices ul li img
{
    border: 1px solid black;
    height: 250px;
}
.container
{
    width: 60%;
    margin: auto;
    border-radius: 10px;
    background-color: #343a40;
    display:flex;
    color:white;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.container h3
{
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.container .scores
{
    display: flex;
    align-items: center;
    border: 1px solid white;
    justify-content:space-around;
    padding: 20px 0px;
}
.container .scores div
{
    display: inline-flex;
    border: 1px solid white;
}