*
{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
.container
{
    background-color: #1F2937;
    width:100%
}
header
{
    width:80%;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
header #logo
{
    font-size: 24px;
    color:#F9FAF8;
    font-weight: bold;
}
header #navbar
{
    font-size: 18px;
}
header #navbar ul
{
    list-style: none;
}
header #navbar li 
{
    display: inline-block;
    padding: 0px 10px;
}
header #navbar li a
{
    text-decoration: none;
    color:#E5E7EB;
}
header #navbar li a:hover
{
    color:#6c6c6c;
}
section
{
    width:80%;
    margin:auto;
    display: flex;
    padding: 100px 0px;
}
section .awesome
{
    flex:1;
    margin-right: 20px;
    box-sizing: border-box;
}
section .awesome h2
{
    font-size: 48px;
    font-weight: extra-bold;
    color:#F9FAF8;
}
section .awesome p
{
    font-size: 24px;
    color:#dadada;
}
#btn1
{
    margin-top: 10px;
    background-color: #3882F6;
    padding: 5px 30px;
    font-size: 20px;
    color:white;
    border-radius: 5px;
    border-color: transparent;
}
section .image
{
    background-color: #6c757e;
    color: white;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container2
{
    width:70%;
    margin:auto;
}
.container2 h2
{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding:50px 0px;
}
.container2 .boxes
{
    display: flex;
    justify-content: space-around;
}
.container2 .boxes .box
{
    border: 5px solid #4680d4;
    border-radius: 15px;
    height: 175px;
    width: 175px;
}
.container2 .boxes p
{
    width: 150px;
    text-align: center;
    padding-bottom: 100px;
}
.container3
{
    background-color: #e7e7ea;
}
.container3 .container3placeholder
{
    width: 60%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.container3 .container3placeholder .quote
{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color:#1F2937
}
.container3 .container3placeholder .author
{
    color: #1F2937;
    font-weight: bold;
    font-size: 24px;
    float:right;
}
.container4
{
    width: 80%;
    margin: auto;
    background-color:#3882F6;
    border-radius: 5px;
    margin: 50px auto;
}
.container4 .container4placeholder
{
    width: 70%;
    margin: auto;
    display: flex;
}
.container4 .container4placeholder .text
{
    padding: 50px 0px;

}
.container4 .container4placeholder h3
{
    color:white;
}
.container4 .container4placeholder p
{
    color:#dadada;
}
.container4 .container4placeholder .btn2
{
    display: flex;
    flex:1;
    align-items: center;
    justify-content: end;
}
.container4 .container4placeholder .btn2 button
{
    color:white;
    border-color: white;
    border-radius: 5px;
    padding: 5px 30px;
    font-size: 20px;
    background-color: transparent;
}
footer
{
    background-color: #1F2937;
    width:100%
}
footer p
{
    text-align: center;
    padding: 25px 0px;
    color: white;
}